* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color:#3c4044;
}

ul {
    text-align: center;
}
.none{
    list-style: none;
    font-size: 24px;
}

.book{
    list-style: none;
    margin: 8px;
    float: left;
    :hover{
        opacity: 0.5;
    }
}
.bookName{
    font-size: 24px;
    text-decoration: none;
}

